* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7fc;
}

.card {
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 8px 25px rgba(0,0,0,.1);
}

.card h1 {
  color: #2563eb;
  margin-bottom: 10px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color: gray;
  margin-bottom: 20px;
}

.bottom-text {
  margin-top: 20px;
}

.bottom-text a {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}